</main>

<footer>
  
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <p> Copyright © <%= locals.currentYear %>  </p> <!-- i am tring to access the current year from the index.js-->
</footer>
</body>

</html>